.create-card-button {
  background-color: #6278f7;
  width: 10rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 700;
}


.create-card-button:hover {
  background-color: #798CFA;
}