.form-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.form-container form {
  max-width: 80%;
  background-color: #f2f2f2;
  border-radius: 1.25rem;
  padding: 2.25rem 4rem;
  box-shadow: 0.625rem 0.625rem 1.875rem rgba(0, 0, 0, 0.08);
}

.form-container h2 {
  font-family: 'Prata', serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 2.75rem 0;
}
